
.Logo img{
    width: 550px;
    margin-left: 2.5%;
}

@media (max-width:768px){
    .Logo img{
        width: 350px ; 
    }
}
@media (max-width: 400px){
    .Logo img{
        width: 270px ; 
    }
}


