.navbar {
  /* background-color: #060b26; */
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menuBars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.navMenu {
  background-color: #060b26;
  width: 250px;
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 5s;
}

.navMenu .active {
  left: 0;
  transition: 5s;
}

.navText {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.navText a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 18px;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.navText a:hover {
  background-color: #1a83ff;
}

.navMenuItems {
  width: 100%;
}

.navbarToggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  /* justify-content: start; */
  align-items: center;
}
.items{
  margin-left: 20px;
}

@media (min-width: 600px){
  .navbar,.navMenu,.navText{
    display: none;
  }

}