@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.summary{
    font-size: 60px;
    font-family: 'lato',sans-serif ;
    color: white;
    margin: 3%;
}

@media (max-width: 768px){
    .summary{
        font-size: 40px;
    }
}
@media (max-width: 500px){
    .summary{
         font-size: 30px;
    }
}
@media (max-width: 370px){
    .summary{
        font-size: 25px;
    }
}