@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
.key {
   font-size: 40px;
   color: #f74747;
   display: flex;
   flex-direction: column;
   text-align: initial;
   border-left: 3px solid pink;
   font-family: 'lato';
}
.keyItem{
    margin-left: 1rem;
}

@media (max-width: 768px){
    .key{
        font-size: 30px;
    }
}
@media (max-width: 600px){
    .key{
        font-size: 20px;
    }
}
@media (max-width : 450px){
    .key{
        font-size: 18px;
    }
}
@media (max-width: 360px){
    .key{
        font-size: 15px;
    }
}