@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Ubuntu&display=swap');
.Overview p{
    font-size: 80px;
    font-family: 'Ubuntu';
    color: white;
}

@media (max-width: 768px){
    .Overview p{
        font-size: 70px;
    }
}
@media (max-width: 500px){
    .Overview p{
         font-size: 50px;
    }
}
@media (max-width: 360px){
    .Overview p{
        font-size: 40px;
    }
}