 /* -----------------------------navbar things-------------------- */
 .logo{
    display: block;
    height: 95%; 
  }
  .logo img{
    height: 95%;
  }
 .navbar{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    
    justify-content: space-around;
    background-color:transparent;
    
  
  }
  .navbar  ul{
    list-style-type: none;
    display: flex;
    margin: 0;
  }
  nav ul li{
    margin-left:15px;
    text-transform: capitalize;
  }
  nav ul li a{
    text-decoration: none;
    display: block;
    color: white;
    border: 2px solid #007FFF ;
    padding: .3em .5em;
    border-radius: 15px;
    cursor: pointer;
    text-transform: uppercase;
  }

  .mob-menue svg{
    color: #007FFF;
    size: 2em;
    height: 1em;
    width: 2em;

  }
  .mob-menue{
      font-size: 1.5em;
  }
  .hide{
    display: none;
  }
  @media only screen and (max-width: 700px) {
     #nav-links{
       display: none;
     }
     .show-on-phone{
       display: block;
     }
     nav.navbar{
       justify-content: space-between;
     }

  }
  /* .nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  } */
  
  .nav-menu {
    background-color: #060b26;
    width: 250px;
    max-width: 80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    z-index: 1000;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  .nav-menu-items {
    list-style-type: none;
    padding-top: 2em;
    padding-left: 0%;
  }
  .nav-menu-items li{
    margin-top: 1em;
  }