.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.App-logo-container {
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  border: 2px solid blueviolet;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-container {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  overflow: hidden;
  background-color: red;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.dropdown {
  float: right;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin-right: 50px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(89, 191, 216);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo {
float:left;
font-weight: bolder;
}
.logo a:hover{
  background-color: red;
}