.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
}

.App-logo-container {
  height: 50vmin;
  width: 50vmin;
  border-radius: 50%;
  border: 2px solid blueviolet;
  position: relative;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo-container {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
