*{
  color: #d6e0fc;
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
  font-weight: 700;
  color: #d6e0fc;
}

h2{
  font-weight: 500;
}